    |===
        |Selector|Operation|Type|Sortable|Values

    {{#parameters}}
        |{{#tableCellContent}}{{selector}}{{/tableCellContent}}
        |{{#tableCellContent}}{{operation}}{{/tableCellContent}}
        |{{#tableCellContent}}{{type}}{{/tableCellContent}}
        |{{#tableCellContent}}{{sortable}}{{/tableCellContent}}
        |{{#tableCellContent}}{{values}}{{/tableCellContent}}

    {{/parameters}}
        |===